n8n-workflows/02-credential-whatsapp.json
{
  "name": "VMP | Credencial por WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vmp-credential-issued",
        "responseMode": "onReceived",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook-credential",
      "name": "Webhook - Credencial Emitida",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "vmp-credential-issued"
    },
    {
      "parameters": {
        "functionCode": "const crypto = require('crypto');\nconst secret = $env.VMP_WEBHOOK_SECRET || 'vmp-n8n-default-secret-change-me';\nconst signature = $input.first().headers['x-vmp-signature'] || '';\nconst body = JSON.stringify($input.first().body);\nconst expected = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n\nif (signature && expected !== signature) {\n  throw new Error('Firma HMAC inválida');\n}\n\nconst cred = $input.first().body.data;\nreturn [{ json: cred }];"
      },
      "id": "verify-credential",
      "name": "Verificar Firma & Parsear",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.alumno_telefono }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-phone",
      "name": "¿Tiene teléfono?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "From", "value": "={{ $env.TWILIO_WHATSAPP_FROM }}" },
            { "name": "To", "value": "=whatsapp:+54{{ $json.alumno_telefono }}" },
            { "name": "Body", "value": "=🎓 ¡Felicitaciones {{ $json.alumno_nombre }}!\n\nCompletaste exitosamente tu curso en *VMP EDTECH*. 🚗✅\n\nTu credencial oficial ya está lista:\n📄 Nº {{ $json.credencial_numero }}\n\nPodés descargar tu certificado aquí:\n🔗 {{ $json.pdf_url }}\n\nEsta credencial es válida y verificable digitalmente. ¡Felicitaciones por tu logro!" },
            { "name": "MediaUrl", "value": "={{ $json.pdf_url }}" }
          ]
        }
      },
      "id": "send-whatsapp",
      "name": "WhatsApp — Enviar Credencial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [910, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@vmp-edtech.com",
        "toEmail": "={{ $json.alumno_email }}",
        "subject": "🎓 Tu Credencial VMP EDTECH está lista — {{ $json.credencial_numero }}",
        "emailType": "html",
        "message": "=<div style='font-family:sans-serif;max-width:600px;margin:auto'>\n<h1 style='color:#1e3a5f'>¡Felicitaciones, {{ $json.alumno_nombre }}! 🎓</h1>\n<p>Completaste exitosamente tu curso de capacitación. Tu credencial oficial ya ha sido generada y validada.</p>\n<div style='background:#f0f7ff;border-radius:8px;padding:20px;margin:20px 0'>\n<p><strong>Número de Credencial:</strong> {{ $json.credencial_numero }}</p>\n<p><strong>Empresa:</strong> {{ $json.empresa_nombre }}</p>\n</div>\n<a href='{{ $json.pdf_url }}' style='background:#1e3a5f;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;display:inline-block'>Descargar Credencial PDF</a>\n<p style='margin-top:20px;color:#666;font-size:12px'>Esta credencial es verificable en vmp-edtech.com/validar/{{ $json.credencial_numero }}</p>\n</div>"
      },
      "id": "email-credential",
      "name": "Email — Backup Credencial",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [910, 420]
    }
  ],
  "connections": {
    "Webhook - Credencial Emitida": {
      "main": [[{ "node": "Verificar Firma & Parsear", "type": "main", "index": 0 }]]
    },
    "Verificar Firma & Parsear": {
      "main": [[{ "node": "¿Tiene teléfono?", "type": "main", "index": 0 }]]
    },
    "¿Tiene teléfono?": {
      "main": [
        [{ "node": "WhatsApp — Enviar Credencial", "type": "main", "index": 0 }],
        [{ "node": "Email — Backup Credencial", "type": "main", "index": 0 }]
      ]
    },
    "WhatsApp — Enviar Credencial": {
      "main": [[{ "node": "Email — Backup Credencial", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "VMP-EDTECH" }]
}
